/* Golbal */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-grey: #7c7979;
  --color-green: #445a0e;
  --color-lightgreen: #b3d63e;

  /* Font size */
  --font-xlarge: 100px;
  --font-large: 52px;
  --font-medium: 36px;
  --font-user: 22px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-light: 100;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
body {
  font-family: "PT Serif", serif;
  text-align: center;
}

a {
  text-decoration: none;
}

input[type="submit"] {
  font-size: var(--font-regular);
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

/* Main */
.background {
  background: url(./components/background.jpeg) no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: inline-block;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.mainTitle {
  color: var(--color-white);
  font-size: var(--font-large);
  padding-top: 35px;
  cursor: pointer;
}

.mainLogin input {
  height: 35px;
  width: 250px;
}

.mainPassword,
.mainLoginBtn {
  margin-top: 25px;
}

.mainForgot,
.mainSignUp {
  margin-top: 25px;
}

.mainForgotBtn,
.mainSignUpBtn {
  color: var(--color-white);
}
